{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>

<body>
    <div style="margin: auto; padding: 30px;">
        <form action="{% url 'application' pk=application.pk %}" method="POST">
            {% csrf_token %}
            {% render_form serializer template_pack='rest_framework/vertical' %}
            <input type="submit" value="Save">
        </form>
    </div>
</body>

</html>